<div class="container">

<div class="welcome">
	<h2>Welcome! Here are the current courses that we offer:</h2>
</div>

<div><%=@link%></div>

<div class="courses">
	<% @courses.each do |course| %>
		<h2><%= link_to course['name'], course_path(course['id'], page: @page) %></h2>
	<% end %>
</div>

<div class="links">
	<a href="#">Prev</a>
	<a href="#">Next</a>
</div>

</div>
