<div class="container">

<div class="welcome">
	<h2>Welcome! Here are the current courses that we offer:</h2>
</div>

<div class="courses">
	<p></p>
</div>

<div class="links">
	<a href="#">Prev</a>
	<a href="#">Next</a>
</div>

</div>