body {
	background-color: #F0F0F0;
}

.container {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.courses {
	border: 1px lightgrey solid;
	padding: 3%;
}

.links {
	padding: 3%;
	color: #2090b9;
}

#next {
	padding-left: 2%;

}

.welcome {
	color: #B92043;
}